<h2 mat-dialog-title>{{ title }} activity</h2>

<form class="form-container100 popup" (ngSubmit)="onConfirm(f)" #f="ngForm">
  <mat-dialog-content>
    <div *ngIf="activity.activityId !== 0">
      N. activity {{ activity.activityId }}
    </div>
    <div>Activity date: {{ activity.date | date: 'dd/MM/yyyy' }}</div>
    <br>
    <mat-form-field>
      <mat-select name="roomId" placeholder="-- room --" [ngModel]="roomId">
        <mat-option *ngFor="let room of rooms" [value]="room.key">
          {{ room.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select name="startTimeId" placeholder="-- time --" [ngModel]="startTimeId">
        <mat-option *ngFor="let time of startTimes" [value]="time.key">
          {{ time.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select name="endTimeId" placeholder="-- time --" [ngModel]="endTimeId">
        <mat-option *ngFor="let time of endTimes" [value]="time.key">
          {{ time.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="title" placeholder="title" [ngModel]="activity.title">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="description" placeholder="description" [ngModel]="activity.description">
    </mat-form-field>        
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="btnDelete" *ngIf="activity.activityId !== 0">
      <button mat-raised-button color="primary" type="button" (click)="onDelete()">Delete</button>
    </div>
    <button mat-raised-button color="primary" [disabled]="f.invalid">Ok</button>
    <button mat-raised-button type="button" (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</form>
